$primarycolor: #444;
$secondarycolor: #679c00;
$show-img: true;
$backgroundimage: url("../img/guardian-ape.jpg");
$bg-opacity: 0.5;
@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin back {
  @if $show-img {
    &#bg-img {
      background: $backgroundimage;
      background-attachment: fixed;
      background-size: cover;
      &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primarycolor, $bg-opacity);
        z-index: -1;
      }
    }
  }
}
@function set-text-color($color) {
  @if (lightness($color) >40) {
    @return #000;
  } @else {
    @return #eee;
  }
}

@mixin mediaSM {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMD {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLG {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
