$primarycolor: #444;
$secondarycolor: #1cf027;
$show-img: true;
$backgroundimage: url("../img/batman-tdk.jpg");
$bg-opacity: 0.6;
@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin back {
  @if $show-img {
    &#bg-img {
      background: $backgroundimage;
      background-attachment: fixed;
      background-size: cover;
      &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primarycolor, $bg-opacity);
        z-index: -1;
      }
    }
  }
}
