@include mediaXL {
  .myproj {
    grid-template-columns: repeat(4, 1fr);
  }
}
@include mediaLG {
  .myproj {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mediaMD {
  main {
    text-align: center;
    align-items: center;
    .large-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  .menu-nav,
  .mjpg {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .mjpg {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);
    .portrait {
      background: url("../img/propic.jpg");
      width: 150px;
      height: 150px;
      background-size: cover;
    }
  }
  .about-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .myproj {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mediaSM {
  main#home h1 {
    margin-top: 10vh;
  }
  .myproj {
    grid-template-columns: 1fr;
  }
}
