@import "config";
@import "menu";
* {
  box-sizing: border-box;
}
body {
  @include back;
  background: $primarycolor;
  color: set-text-color($primarycolor);
  margin: 0;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}
//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.large-heading {
    font-size: 6rem;
  }
  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primarycolor, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.secondary-text {
  color: $secondarycolor;
}

main {
  padding: 4rem;
  min-height: calc(100vh-60px);
  .icons {
    margin-top: 4rem;
    a {
      &:hover {
        color: $secondarycolor;
        @include easeOut;
      }
      padding: 0.4rem;
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio-image bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  .bio-image {
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: $secondarycolor 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job {
    background: lighten($color: $primarycolor, $amount: 5);
    padding: 1rem;
    border-bottom: $secondarycolor 5px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primarycolor, $amount: 10);
  color: set-text-color($primarycolor);
  height: 60px;
}
@import "mobile";
